export(ai_insert_code)
export(ai_replace_code)
export(ai_smart_insert)
export(execute_code)
export(execute_r_function)
export(run_rgent)
export(auto_start_rgent)
export(setup_rprofile_auto_start)
export(stop_websocket_server)
export(capture_context)
export(detect_context_changes)
export(capture_last_error)
export(assemble_intelligent_context_safe)
export(auto_capture_error)
export(test_auto_capture)
export(trigger_auto_capture)
export(capture_last_error)
export(remove_error_monitoring)
export(execute_with_capture)
export(get_console_context)
export(get_available_dataframes)
export(get_available_objects)
export(get_dataframe_info)
export(get_dataframe_explorer_data)
export(get_object_explorer_data)
export(get_dataframe_chunk_filtered)
export(convert_explorer_view_to_code)
export(start_transformation_agent)
export(generate_transformation_step_code)
export(get_next_transformation_step_code)
export(start_statistical_analysis)
export(create_statistical_workflow)
export(execute_statistical_step)
export(perform_z_test)
export(perform_t_test)
export(calculate_cohens_d)
export(start_modeling_agent)
export(create_modeling_workflow)
export(execute_modeling_step)
export(execute_modeling_data_overview)
export(execute_data_preprocessing)
export(execute_feature_engineering)
export(execute_dimensionality_reduction)
export(execute_linear_regression)
export(execute_logistic_regression)
export(execute_multinomial_regression)
export(execute_random_forest)
export(execute_xgboost)
export(execute_model_comparison)
export(execute_results_compilation)
export(get_next_modeling_step)
export(load_packages)
export(start_cleaning_agent)
export(check_and_update_package)