export(ai_insert_code)
export(ai_replace_code)
export(ai_smart_insert)
export(execute_code)
export(execute_r_function)
export(run_rgent)
export(stop_websocket_server)
export(capture_context)
export(detect_context_changes)
export(capture_last_error)
export(assemble_intelligent_context_safe)
export(auto_capture_error)
export(test_auto_capture)
export(trigger_auto_capture)
export(capture_last_error)
export(remove_error_monitoring)
export(execute_with_capture)
export(get_console_context)